doctype html
html
  head
    title= title
  body
    if (error && error.length > 0)
    br
    h4.error-msg= error
    br
    block content
    script.
      var userData = !{JSON.stringify(locals && locals.user ? locals.user : null)}
    script(src='./bundle.js').
